n_cells: {n_cells}
dx: {dx}
delay_timescale: {delay_timescale}
time_step: {time_step}
time_to_run: {time_to_run}
bl_drop: {bl_drop}
bed_k: {bed_k}
block_k: {block_k}
gamma: {gamma}
side_length: {side_length}
z_0: {z_0}
bed_tau_c: {bed_tau_c}
block_tau_c: {block_tau_c}
channel_width: {channel_width}
mean_discharge: {mean_discharge}
discharge_variability: {discharge_variability}
suffix: "{suffix}"
recording_interval: {recording_interval}
